<!-- Botón de ayuda -->
<button class="help-btn" (click)="toggleModal()">❓ Ayuda</button>

<!-- Ventana modal -->
<div class="modal-backdrop" *ngIf="isModalOpen" (click)="toggleModal()"></div>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <h2>Instrucciones del Juego</h2>
    <p>
      🔹Cada jugador recibe 11 cartas.<br>
      🔹El objetivo es deshacerse de la mayor cantidad de cartas.<br>
      🔹El ganador es el jugador que termine todas las rondas con la menor cantidad de puntos.<br>
      🔹Las cartas en mano son puntos equivalentes al valor de la carta, excepto por las figuras que valen 10 puntos.<br>
      🔹El As vale 11 puntos y el Joker 15 puntos.<br>
      🔹Cada compra equivale a 10 puntos.<br>
    </p>
    <button (click)="toggleModal()">Cerrar</button>
  </div>
</div>
